html {
	
	background-color: #040404;
	color: white;
	
}

h1 {
	
	text-align: center;
	
}

.tnr {
	
	font-family: "Times New Roman", Times, serif;
	
}

.container {
	
	text-align: center;
	width: 70%;
	
}

.column-left {
	
	float: left;
	width: 33.333%;
	
}

.column-center {
	
	display: inline-block; 
	width: 33.333%;
	
}

.column-right {
	
	float: right;
	width: 33.333%;
	
}

.column-center-above {
	
	height: 33.333%
	
}

.column-center-center {
	
	height: 33.333%
	
}

.column-center-below {
	
	height: 33.333%
	
}

.center {
	
	margin-left: auto;
	margin-right: auto;
	
}

a.terryhome:link {

	color: white;
	text-decoration: none;

}

a.terryhome:visited {

	color: white;
	text-decoration: none;

}

a.terryhome:hover {

	color: red;
	text-decoration: none;

}

a.terryhome:active {

	color: white;
	text-decoration: none;

}

.terry {
	
	position: fixed;
	top: 47.5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.terry img {
	
}

/*

.terry-left {
	
	float: left;
	width: 20%;
	
}

.terry-right {
	
	float: right;
	width: 20%;
	
}

/* 

.container, .column-left, .column-center {
	
	clear: both;
	
} 

*/

/* 

table {
	
	table-layout: fixed;
	width: 70%;
	text-align: center;
	
	border: 2px solid white; 	only meant to check the spacing of the columns
	
}

th, td {
	
	border: 2px solid white; 	only meant to check the spacing of the columns
	
}

*/
