html {
	
	background-color: #040404;
	color: white;
	
}

h1 {
	
	text-align: center;
	
}

.tnr {
	
	font-family: "Times New Roman", Times, serif;
	
}

.container {
	
	text-align: center;
	width: 70%;
	
}

.column-left {
	
	float: left;
	width: 33.333%;
	
}

.column-center {
	
	display: inline-block; 
	width: 33.333%;
	
}

.column-right {
	
	float: right;
	width: 33.333%;
	
}

.column-center-above {
	
	height: 33.333%
	
}

.column-center-center {
	
	height: 33.333%
	
}

.column-center-below {
	
	height: 33.333%
	
}

.center {
	
	margin-left: auto;
	margin-right: auto;
	
}

a.indexlink:link {

	color: white;
	text-decoration: none;

}

a.indexlink:visited {

	color: white;
	text-decoration: none;

}

a.indexlink:hover {

	color: red;
	text-decoration: none;

}

a.indexlink:active {

	color: white;
	text-decoration: none;

}
