html {
	
	background-image: url('images/gif/hueshift199.gif');
	min-height: 500%;
	min-width: 500%;
	background-size: 100px;
	color: white;
	
}

body {
	
	background-color: transparent;
	
}

h1 {
	
	text-align: center;
	
}

.tnr {
	
	font-family: "Times New Roman", Times, serif;
	
}

.container {
	
	text-align: center;
	height: 100%;
	width: 100%;
	position: fixed;
	
}

.column-left {
	
	float: left;
	width: 45%;
	
}

.column-center {
	
	display: inline-block; 
	width: 10%;
	
}

.column-right {
	
	float: right;
	width: 45%;
	
}

.center {
	
	margin-left: auto;
	margin-right: auto;
	
}

a.walkin:link {

	color: white;
	text-decoration: none;

}

a.walkin:visited {

	color: white;
	text-decoration: none;

}

a.walkin:hover {

	color: red;
	text-decoration: none;

}

a.walkin:active {

	color: white;
	text-decoration: none;

}

.suismile {
	
	animation: suismile 0.1s infinite;
	
}

@keyframes suismile {
	
	0%   {background-color: white}
	50%  {background-color: black}
	100% {background-color: white}
	
}

.epilepsy {
	
	animation: epilepsy 0.1s infinite;
	
}

@keyframes epilepsy {
	
	0%   {color: white}
	50%  {color: black}
	100% {color: white}
	
}

/* 

.wavy {
	
	animation-name: wavy;
	animation-duration: 1.3s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	position: relative;
	top: 0;
	left: 0;
	
}

@keyframes wavy {
	
	0% {
		
		top: 0px;
	
	}
	
	50% {
		
		top: -15px;
	
	}
	
	100% {
		
		top: 0px;
	
	}
  
}

/* 

.container, .column-left, .column-center {
	
	clear: both;
	
} 

*/

/* 

table {
	
	table-layout: fixed;
	width: 70%;
	text-align: center;
	
	border: 2px solid white; 	only meant to check the spacing of the columns
	
}

th, td {
	
	border: 2px solid white; 	only meant to check the spacing of the columns
	
}

*/
